.cards {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 80px;
}

@media screen and (max-width: 767px) {
  .cards {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
  }
}
