.travel__title {
  padding-left: 11%;
  font-size: 37px;
  word-spacing: 2px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .travel__title {
    font-size: 30px;
    word-spacing: 0;
  }
}
