.travel__container {
  display: flex;
  flex-direction: row;
}

.travel__container:nth-child(2n) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .travel__container {
    flex-direction: column;
  }
  .travel__container:nth-child(2n) {
    flex-direction: column;
  }
}
