.people__subtitle {
  font-size: 38px;
  font-weight: 600;
  line-height: 49px;
  max-width: 36%;
  margin: 32px 0 135px;
}

@media screen and (max-width: 767px) {
  .people__subtitle {
    font-size: 28px;
    line-height: 1.2;
    max-width: 80%;
    text-align: center;
    margin: 20px auto 80px;
  }
}

