.header {
  max-width: 89.38%;
  display: flex;
  margin: 0 auto;
  padding: 57px 0 95px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 35px 0 60px;
    gap: 20px;
  }
}
