.header__navigation {
  display: flex;
  margin: 0;
  gap: 41px;
}

@media screen and (max-width: 767px) {
  .header__navigation {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
