.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50.7%;
  gap: 28px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    width: 100%;
    gap: 20px;
  }
}
