.people__title {
  color: #fecea9;
  font-family: "AnonymousPro", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .people__title {
    text-align: center;
  }
}
