.intro__image {
  width: 33.8%;
  padding-bottom: 33.9%;
  background: center center url("../../../images/intro-image.jpeg");
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .intro__image {
    width: 100%;
    padding-bottom: 100%;
  }
}
